@charset "UTF-8";

html { overflow-y: scroll; }
body { 
    -webkit-font-smoothing: antialiased;
}
body{ animation: fadein 1.5s;}

/******************************************
	Common
*******************************************/
ul, li { margin: 0; padding: 0; list-style: none; }
dl:after, dt:after, dd:after{content:''; display:block; clear:both;}
.floatL { float: left; }
.floatR { float: right; }
.displayblock { display: block; }
.displaynone { display: none; }
.inlinblock { display: inline-block; }
.pos_absolute { position: absolute; }
.pos_relative { position: relative; }
.inner:after, .inner_wrap:after { content: ''; display: block; clear: both; }
.ani { -webkit-transition: all 0.10s ease-out; -moz-transition: all 0.10s ease-out; -o-transition: all 0.10s ease-out; transition: all 0.10s ease-out; }
::-moz-selection { background: #000000; color: #fff; text-shadow: none; }
::selection { background: #000000; color: #fff; text-shadow: none; }


a { color: #1e1e1e; }
a:hover{ color:#999; }


/*UI layout Common attribute*/
.inner { margin: 0 auto; }

* { margin: 0; padding: 0; }
html, body, form, #wrap { height: 100%; }
html { overflow-y: scroll; }
body > #wrap { height: auto; min-height: 100%; }
#wrap > #side,
#wrap > #container { height: 100%; min-height: 100%; }


/******************************************
	UI layout attribute
*******************************************/
#wrap { display: block; /* width: 100%; min-width:100%; */ margin: 0 auto; }
.inner_wrap { position:relative;  width:1180px; margin: 0 auto; }

#side { display: table-cell; width:200px; height:100%; vertical-align: top; z-index:2  }
#side .side_wrap { display: block; position:relative;  width: 200px; }
#side .side_wrap:after{content:''; display:block; clear:both;}
#side .side_wrap .sidefix { display:block; position:fixed; left:0; top:0; width:200px; height:100%; }
#side .side_wrap .inner_wrap{ width:180px; min-width:180px; max-width:180px; margin:0 20px 0 0; }
#container { display: block; width:100%; /* min-width:1000px; */ max-width:1180px; min-height: 500px;  vertical-align: top; }
#container.goodsv_container { display: block; width:100%; min-width:100%; max-width:100%; }
#container #content{ display:block; width:100%; margin:50px auto;/*   */ padding:0 0 50px;}
#container.goodsv_container #content{ display: block; width:100%;}
#header { display: block; position:relative; margin: 0 auto; z-index:100 ; }
#content { display:block; }
#content .contents{ display:block; min-width:1000px; margin:0px auto 0; }

#content .contents:after,
#content .view:after{content:''; display:block; clear:both;}

#footer { display: block; margin: 0 auto;}
#quick{}

#wrap:after,#header:after,#container:after,#side:after,#content:after,#footer:after { content: ''; display: block; clear: both; zoom: 1; }
#route { display:none; width: 100%; max-width: 1200px; margin: 0 auto; padding: 13px 0 0; }
#container > #content > .contents .view { display:block; padding: 0; }
.loader{ position: fixed; top:0; right:0; bottom:0; left:0; width: 100%;  height: 100%; background-color:rgba(250,250,250,.3); z-index:999; }
#container > #content > .etc-page{ padding:25px 10px;}


@media screen and (max-width: 1217px) {
	#side { width: 200px; min-width:200px; max-width:200px; }
	#side .side_wrap{ width: 200px; min-width:200px; max-width:200px; margin:0 auto; }
	#side .side_wrap .sidefix{ width:200px; min-width:200px; max-width:200px; }
	#side .side_wrap .sidefix .inner_wrap{ width: 180px;  min-width:180px; max-width:180px; margin:0 auto; }
	
	#container { width:100%; /* min-width:1000px;  */}
	#container #content{width:100%;/*  min-width:1000px; */ }
	#container #content .swiper-container { width: 100%;/*  min-width: 1000px; */ }
	#content .contents{ width:100%;/*  min-width:1000px; */ }
	#container > #content > .contents .view { display:block; padding: 0 10px; }
	
}


#side,
#side .side_wrap,
#side .sidefix,
#side .inner_wrap{-webkit-transition: all 500ms ease; -moz-transition: all 500ms ease; -o-transition: all 500ms ease; -khtml-transition: all 500ms ease; -ms-transition: all 500ms ease; transition: all 500ms ease;}

.order-page {/*  padding: 0 10px; */ }
.order-page .price-box { display: table; width: 100%; margin: 0 0 0; background: #f2f2f2;border:0;}

.contents-inner { padding: 30px 10px !important; }
.cs-page { padding: 30px 10px !important; }
iframe .contents-inner { padding: 0 !important; }
iframe .cs-page { padding: 0 !important; }
.chosen-container-single .chosen-sch { height: 40px;   line-height: 38px; margin: 0 !important; background: none; }
.txt-field.hs {
    height: 38px;
}
.skinbtn.base2.boardlist-search {
    width: 50px;
    height: 31px;
    line-height: 31px;
}

